@media only screen and (max-width:767px){
    #registerform{
        flex-direction: column;
        width: 90%;
    }
    #choix ul{
        padding:0!important;
    }
    #choix{
        padding: 0!important;
    }
}
@media only screen and (min-width:768px){
    #registerform{
        flex-direction: row;
        width: 100%;
    }
    
    #regex{
        flex-direction: row;
        justify-content: space-around;
        color: red;
    }
}
#formbloc{
    flex-direction: column;
}
#registerform{
    display: flex;
    justify-content: space-around;
}
#form1{
    flex-direction: column;
}
#form2{
    flex-direction: column;
    height:100%;

}
#compte{
    display:flex;
    justify-content: space-between;
    
}
#formulaire{
    justify-content: space-around;
    width: 100%;
}
#choix ul{
list-style: none;
padding: 0 10px 0 10px;
}
#choix{
    padding-right: 25px;
}
#showcompte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    color : whitesmoke;
}

#showcompte h6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(119, 224, 181);
    font-style: italic;
}
#showcompte p{
    font-size:16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*Ajout/suppression Produit*/
#uploadForm{
    display: flex;
    flex-direction: column;
}
#addBloc{
    justify-content: center;
    align-items: center;
}
#delprod{
    display:flex;
    align-items: center;
    margin: 0 25px;
}
#addDel{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#option{
    margin-bottom: 25px;
}

#histo{
    display:flex;
    flex-direction: column;
    padding-right: 30%;
    color: aliceblue;
    font-size: x-large;
}

#histo tr{
    text-align:  center;
}

@media screen and (min-width: 768px){
    .mobile{
        display : none!important;
    }
    .pc{
        display:flex;
    }

}
@media screen and (max-width: 767px) {
    .mobile{
        display: flex;
    }
    .pc{
        display:none!important;
    }
    
}