.card{
    color: black;
    margin-bottom: 20px;
}
.flexcard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
label,input[type="radio"] {
    cursor: pointer;
}
.selectMenu{
    display:flex;
    flex-direction: column;
}
.selectMenu select{
    margin: 10px 0;
}

/*MOBILE*/
@media only screen and (max-width:767px){
    #mainMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* LARGE DEVICE*/
@media only screen and (min-width:768px){
    #mainMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

#tagchoice a {
    margin : 0 10px;
}

.quantity{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.quantity img{
    cursor :pointer;
}
.pricetag{
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}
.buttonContainer{
    display: flex;
    flex-direction: row-reverse;
}
.nombreArt{
    text-align: right;
    width: 15%;
    
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
