
@media screen and (max-width:650px){

    .itemimg{
        height: auto;
        width:20%;
    }
    .itemimgMenu{
        width:100%;
        border-radius: 8%;
        margin-right: 0!important;
    }
    .itemMenu{
        width:100%;
        flex-direction: column;
    }
    .formMenu{
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
    .delArt{
        height:auto;
    }
    #Total{
        justify-content: center!important;
    }
    #buttonbox{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .button{
        width: 40%;
        text-align: center;
        vertical-align: middle;
    }
}
    #delbutton{
        background-image: url(./assets/bin.png);
    }
    #mainBasket{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .itemcard{
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        color:black;
        background-color: white;
        border-radius: 25px;
    }
    .itemcard *{
        margin-right:15px;
    }
    .itemimg{
        border-radius: 25px 0 0 25px;
    }
    .itemMenu{
        width:100%;
    }
    #buttonbox{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .button{
        padding: 9px 22px;
        background : #343a40;
        color: white!important;
        border-radius: 60%;
        border-width:6px ;
        border-style: solid;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content:center;
       /* margin-right: 45px;*/
    }
    #delbutton:hover{
        color:rgb(251, 64, 31)!important;
    }
    #connectbutton:hover{
        color:aquamarine!important;
    }
    #empty{
        left: 0;
        line-height: 200px;
        margin-top: -100px;
        position: fixed;
        text-align: center;
        top: 50%;
        width: 100%;
    }
    #Total{
        padding: 0 0 50px 0;
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    .delArt{
        height: auto;
        cursor: pointer;
    }