@media only screen and (max-width:767px){
    .none{
        display:none
    }
}
/*GENERAL STYLE */

a, a:hover,a:focus,a:active {
    text-decoration: none;
    color: #C5D486!important;
}
.article{
    font-family: Verdana, sans-serif;
    flex-direction: column;
}
body{
    background-position: center;
    background-color: #212529!important;
    padding-bottom: 20px;
    min-height: 100%;
    margin-bottom: 50px;
    position: relative;
    color: #C5D486;
}
body::after{
    content: '';
    display: block;
    height: 50px;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
footer{
    display:flex!important;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    clear: both;
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
}
html{
    height: 100%;
}
.hidden{
    visibility: hidden;
}
/*.horizontal {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color: white;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    flex-direction: row;
    justify-content: space-evenly;
}*/
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
.flexend{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.navbar {
  margin-bottom: 20px;
  z-index: 1;
}
.navbar-link {
    cursor : pointer;
}
a:hover{
    color:#efffa9!important;
}
.navbar-brand{
    padding : 20px 0 ;
    margin-right: 0;
}
.navbar-nav {
  align-items:center;
}

ul li {
    padding-left: 10px;
}

